---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import Link from '@/components/Link.astro';

const description =
    'Aftermarket accessories for the Sondors Metacycle, including display brackets, windshields, and more.';
---

<DefaultLayout
    title="Acces&shy;sories"
    description={description}
    backgroundImage="/Heading Backgrounds/Glowing Metacycle.png"
    color="white"
    urlFragment="accessories/"
>
    <h4>Display Bracket</h4>

    <ul>
        <li>
            <Link
                href="https://a.aliexpress.com/_mOOL1Li"
                >This bracket</Link
            > is designed for DKD display and you can raise the unit for a better
            viewing angle with <Link
                href="https://www.facebook.com/groups/905762400660923/posts/1219895142580979/"
                >minor modifications</Link
            >.
        </li>
        <li>
            <Link
                href="https://www.facebook.com/groups/905762400660923/posts/962752434961919/"
                >Screen door handle brackets</Link
            > or <Link
                href="https://www.facebook.com/groups/905762400660923/posts/967890984448064/"
                >windshield brackets</Link
            > can be used to relocate the display to a higher position.
        </li>
        <li>
            Repurpose the handlebar clamps that hold the decorative 15mm tube
            above the handlebars. Remove the tube, then use 4" mending brackets
            to hold the display.
        </li>
    </ul>

    <h4>MetaMack</h4>

    <ul>
        <li>
            <Link
                href="https://www.facebook.com/groups/905762400660923/posts/1333810677856091/"
                >Controller upgrade</Link
            > to dramatically improve the performance of the Metacycle.
        </li>
    </ul>

    <h4>Windshield / Fairing</h4>

    <ul>
        <li>
            <Link
                href="https://www.amazon.com/dp/B0BV8CNV1C"
                >Krator Motorcycle Windshield Fairing Kit</Link
            > requires minimal modifications.
        </li>
        <li>
            Amazon sells a <Link
                href="https://a.co/d/j9CUSrI"
                >short</Link
            > and a <Link
                href="https://www.amazon.com/dp/B0BX2RZP8T"
                >taller</Link
            > windscreen that both fit fairly easily. The headlight bolts almost fit
            the brackets, some minor filing may be helpful.
        </li>
    </ul>

    <h4>METARACK ONE</h4>

    <ul>
        <li>
            [SOLD OUT] Custom-designed, hard-walled <Link
                href="https://farmyth.com/metarack/"
                >cargo bag</Link
            > that fits in the Metacycle void. Some riders prefer having it there,
            giving their knees something to grab, which provides extra stability.
        </li>
    </ul>

    <h4>Tron Tail</h4>

    <ul>
        <li>
            [SOLD OUT] Slimmer <Link
                href="https://farmyth.com/tron/"
                >tail light</Link
            > with dynamic turn signals.
        </li>
    </ul>
</DefaultLayout>
