---
import Card from '@/components/Card.astro';
import CardWrapper from '@/components/CardWrapper.astro';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import ImageText from '@/components/ImageText.astro';
import Link from '@/components/Link.astro';

const description =
    'All about the Sondors Metacycle, the first inexpensive electric motorcycle, capable of reaching 70+ mph. Parts, schematics, maintenance, and more.';
---

<DefaultLayout
    backgroundImage="/Heading Backgrounds/metacycle.webp"
    color="white"
    description={description}
    title="Metacyclopedia"
    urlFragment=""
>
    <h2>Do you own a Metacycle?</h2>
    <h3>A wealth of information regarding the Sondors Metacycle.</h3>

    <CardWrapper>
        <Card>
            <Link href="/accessories/">Accessories</Link> &amp; <Link
                href="/tools/">Tools</Link
            >
        </Card>
        <Card>
            <Link href="/battery/">Battery</Link>, <Link href="/charger/"
                >Charger</Link
            >, and <Link href="/activator/">Activator</Link>
        </Card>
        <Card>
            <Link href="/can-bus/">CAN bus</Link> and <Link
                href="/serial-protocol/">Serial Protocol</Link
            >
        </Card>
        <Card>
            <Link href="/community/">Community</Link>
        </Card>
        <Card>
            <Link href="/controller/">Controller</Link>
        </Card>
        <Card>
            Connect via <Link href="/connect-through-usb-port/">USB</Link>, <Link
                href="/connect-via-bluetooth/">Bluetooth</Link
            >, or <Link href="/connect-with-20-pin-cable/">20-pin cable</Link>
        </Card>
        <Card>
            <Link href="/parts/">Parts</Link> and <Link href="/problems/"
                >Problems</Link
            >
        </Card>
        <Card>
            <Link href="/display-unit">Display</Link>
        </Card>
        <Card>
            <Link href="/files/">Files</Link> and <Link
                href="/windows-software/">Software</Link
            >
        </Card>
        <Card>
            <Link href="/registration/">Registration &amp; VIN</Link>
        </Card>
        <Card>
            <Link href="/motor/">Motor</Link>
        </Card>
        <Card>
            <Link href="/metahack/">MetaHack</Link>
        </Card>
        <Card>
            <Link href="/tutorials/">Tutorials</Link>
        </Card>
        <Card>
            <Link href="/programming/">Programming</Link> and <Link
                href="/programming-cable">Cable</Link
            >
        </Card>
    </CardWrapper>

    <h2>About the Metacycle</h2>
    <ImageText
        src="/Images/metacycle-dark-background.webp"
        alt="Sondors Metacycle"
    >
        The Sondors Metacycle is an electric, street-legal, low-budget
        motorcycle. It uses a 4 kWh battery to power the 20 HP (14.5 kW) motor,
        enabling 60 mph speeds in drive mode and 80 mph in sport. It's about 335
        pounds and can travel up to 60 miles, but distance is reduced when
        running the bike faster due to air resistance. Read a <Link
            href="https://www.revzilla.com/common-tread/2022-sondors-metacycle-electric-motorcycle-review"
            >review here</Link
        >. It's not afraid to call out issues.
    </ImageText>

    <h2>History</h2>
    <p>
        <b>2021 (Early):</b> Sondors, known for budget-friendly electric bicycles,
        announced the Metacycle, with initial deliveries expected in late 2022. For
        $5,000, riders could expect highway speeds and 80 miles of range.
    </p><p>
        <b>2021 (Fall):</b> Pre-orders start with an expected delivery date of Q1
        2022.
    </p><p>
        <b>2021 (Late):</b> Delivery timeline pushed to late 2022.
    </p><p>
        <b>2022 (June):</b> 2,000 unit order was made and a prepayment was sent to
        SiAECOSYS to manufacture the units.
    </p><p>
        <b>2022 (Sep):</b> Factory sends 360 Metacycles to U.S. but no payment.
    </p><p>
        <b>2022 (Oct):</b> Production stops because of no payment.
    </p><p>
        <b>2022 (Late):</b> Deliveries begin, though they didn't meet initial expectations.
    </p><p>
        <b>2023 (Mar):</b> Sondors asks for a price reduction and to alter the existing
        contract.
    </p><p>
        <b>2023 (Spring):</b> Sondors announced a price drop, citing increased volume
        production.
    </p><p>
        <b>2023 (Jul):</b> Storm Sondors claims no relationship with the factory.
    </p><p>
        <b>2023 (Oct):</b> Issues with Metacycle project regarding unclear delivery
        figures and customer complaints.
    </p><p>
        <b>2023 (Dec):</b> Sondors goes into <Link
            href="https://electrek.co/2023/12/25/exclusive-e-bike-maker-sondors-up-for-sale-as-company-enters-receivership/"
            >receivership</Link
        > and the company is for sale. Perhaps <Link
            href="https://www.advrider.com/electric-motorcycle-maker-sondors-in-receivership-what-about-the-bikes/"
            >10,000 preorders</Link
        > went unfulfilled without refunds - the company kept the deposits (approximately
        $20M) and delivered no product for most of them.
    </p><p>
        <b>2025:</b> Sondors may be attempting to sell the Metacycle again as it appeared
        on their website, plus they also have a new electric off-road bike. In 2026,
        the Metacycle link stopped working.
    </p><p>
        Learn more about the debacle from <Link
            href="https://www.topspeed.com/the-story-of-sondors-metacycle-goes-bad-to-worse/"
            >TopSpeed</Link
        >. If you have one of these bikes, you're quite lucky as only
        approximately 1,400 to 1,500 were delivered.
    </p>
</DefaultLayout>
