---
interface Props {
    alt: string;
    src: string;
}

const { alt, src } = Astro.props;
---

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }

    img {
        max-width: 90%;
        height: auto;
    }
</style>

<div><a href={src}><img src={src} alt={alt} /></a></div>
