---
import Link from "@/components/Link.astro";

interface Props {}
---

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
<div>
    <span>
        <Link href="/community/">Contact</Link> - <Link href="/files/">Files</Link> - <Link
            href="/parts/">Parts</Link
        > - <Link href="/problems/">Problems</Link> - <Link href="/programming/"
            >Programming</Link
        ><br /><Link
            href="https://docs.google.com/forms/d/e/1FAIpQLSd7UHWgCSWGstJ5sDMwKaa4EyPT696pBjwqfDwN7XofbLzlnA/viewform?usp=header"
            >Send suggestions, feedback, tips, or additional files!</Link
        ></span
    >
</div>
