---
interface Props {
    backgroundImage: string;
    title: string;
}

const { backgroundImage, color, title } = Astro.props;
---

<style>
    header {
        font-size: 4rem;
        font-weight: bold;
        background-size: cover;
        background-position: center;
    }

    h1 {
        padding: 2em 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 1em;
    }

    h1.white {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    h1.black {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }

    .site-name {
        font-size: 1.5rem;
        text-align: right;
        background-color: black;
        color: white;
    }

    .site-name a {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="site-name">
    <a href="/">Metacyclopedia</a>
</div>
<header style={`background-image: url("${backgroundImage}")`}>
    <h1 class={color}>{title}</h1>
</header>
