---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import Link from '@/components/Link.astro';
import ImageText from '@/components/ImageText.astro';

const description =
    'OEM and matching aftermarket parts for the Sondors Metacycle.';
---

<DefaultLayout
    title="Parts"
    description={description}
    urlFragment="parts/"
    color="white"
    backgroundImage="/Heading Backgrounds/insides.png"
>
    <h2>
        This is a list of OEM parts and near-match replacements for the
        Metacycle.
    </h2>

    <p>
        Most of the links originated from <Link
            href="https://www.linkslist.app/1XjDq42">OEM Parts List</Link
        > and <Link href="https://www.linkslist.app/0Yekr2v"
            >nonOEM Parts List</Link
        >. Links were updated where broken, plus additional part links were
        found through various forums and web searches.
    </p>

    <p>There are no affiliate links on this page.</p>

    <ImageText src="/Parts/metacycle.png" alt="Entire Metacycle">
        <h4>Entire Metacycle</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.aliexpress.us/item/3256806835974869.html"
                    >AliExpress</Link
                > - The manufacturer sells the entire bike on AliExpress. Search for
                "AliExpress SiAECOSYS Motorcycle 72v" or look at <Link
                    href="https://e-smartway.com/products/siaecosys-electric-motorcycle-72v-120kph-high-power-cast-aluminum-integrally-formed-frame-mt-with-4kwh-lithium-ion-battery"
                    >E smart way</Link
                >.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/tires.webp" alt="Tires">
        <h4>Tires</h4>
        <ul>
            <li>
                Some come with Michelin Pilot Road 5, some with CST <Link
                    href="https://csttires.eu/cm-nk01/">CM-NK01</Link
                >, some allegedly with Kenda.
            </li>
            <li>
                Front 32 PSI (221 kPa), 110/70 R17 tires. Rear 30 PSI (207 kPa),
                150/60 R17 tires.
            </li>
            <li>
                Tire changing videos: <Link
                    href="https://www.youtube.com/watch?v=Q7U2baauyt8"
                    >short version</Link
                > and <Link href="https://www.youtube.com/watch?v=VoAgnKyHUw4"
                    >long version</Link
                >.
            </li>
            <li>
                If your spokes <Link
                    href="https://www.facebook.com/groups/905762400660923/?multi_permalinks=1355405939029898"
                    >go to tabs</Link
                > on the wheel rim, you have tubeless tires.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/headlight.png" alt="Headlight">
        <h4>Headlight</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/siaecosys-ev-front-headlight-high-brightness-suitable-for-electric-bicycle-scooter-motorcycle/"
                    >SiAECOSYS</Link
                >, <Link
                    href="https://www.aliexpress.us/item/3256805792490064.html"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/turn-signals.png" alt="LED turn signals">
        <h4>LED Turn Signals</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/12v-universal-turn-signal-electric-motorcycle-indicator/"
                    >SiAECOSYS</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/speedometer.png" alt="Display unit / speedometer">
        <h4>Display Unit / Speedometer</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/sondors-motorcycle-72v-dkd-lcd-mt-speedometer-for-metacycle/"
                    >SiAECOSYS</Link
                >, <Link
                    href="https://www.aliexpress.us/item/3256804221088096.html"
                    >AliExpress</Link
                > - 061 DKD; see more information about the <Link
                    href="/display-unit/">display unit</Link
                >.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/handlebar.png" alt="Handlebar">
        <h4>Handlebar</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/motorcycle-high-quality-electric-scooter-bicycle-handbar/"
                    >SiAECOSYS</Link
                >
            </li>
            <li>
                The cross-bar is aesthetic. It can be used as a mount point or
                removed.
            </li>
        </ul>
    </ImageText>

    <ImageText
        src="/Parts/throttle-combo-switches.png"
        alt="Grips, Throttles, Combination Switches"
    >
        <h4>Grips, Throttles, Combination Switches</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/siaecosys-k126-throttle-with-combination-switch-suitable-for-electric-motorcycle/"
                    >SiAECOSYS</Link
                >, <Link
                    href="https://www.aliexpress.us/item/3256805941044936.html"
                    >AliExpress</Link
                >
            </li>
            <li>
                Aftermarket: SiAECOSYS also makes <Link
                    href="https://www.cnqsmotor.com/product-category/siaecosys-accessories/twist-throttle/"
                    >other models</Link
                > that may work.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/horn.png" alt="Horn">
        <h4>Horn</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/siaecosys-loud-12v-general-motorcycle-electric-horn-round-speaker-suitable-for-bicycle-scooter-motorcycle-in-105db/"
                    >SiAECOSYS</Link
                >, <Link href="https://x.alibaba.com/AvFmlM?ck=pdp"
                    >Alibaba</Link
                >
            </li>
            <li>12 V, 105 dB, appears to draw 0.9 A when active.</li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/brake-handle-levers.png" alt="Brake handles">
        <h4>Brake Handles</h4>
        <ul>
            <li>
                Aftermarket: <Link href="https://a.aliexpress.com/_m0nqbrS"
                    >AliExpress</Link
                > - fits, but is a slightly different shape.
            </li>
            <li>
                Aftermarket: <Link href="https://www.amazon.com/dp/B07FF5N2FQ"
                    >Amazon</Link
                > - adjustable brake levers that need no modification and are a bit
                shorter.
            </li>
            <li>
                Aftermarket: <Link href="https://www.amazon.com/dp/B07XGLND27"
                    >Amazon</Link
                > - adjustable brake levers that nearly fit and need minor modification
                with a rotary tool or drill.
            </li>
            <li>
                Aftermarket: <Link href="https://a.aliexpress.com/_msGTU2G"
                    >AliExpress</Link
                > - select types 6+7, 14+15, or 17+18 upon checkout.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/mirrors.png" alt="Mirrors">
        <h4>Mirrors</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/siaecosys-rearview-mirrors-2pcs-pair-for-electric-bicycle-scooter-motorcycle/"
                    >SiAECOSYS</Link
                >, <Link href="https://a.aliexpress.com/_msuNqxY"
                    >AliExpress</Link
                >
            </li>
            <li>
                Mirror bolts are both clockwise, 8mm or 10mm (unsure right now).
            </li>
            <li>
                If switching to bar end mirrors, look for ones that can friction
                fit into a 7/8" ID tube, or that can clamp onto the bar end. <Link
                    href="https://www.reddit.com/r/metacycle/comments/wnqp8e/bar_end_mirrors_are_basically_impossible/"
                    >Proceed carefully</Link
                > and <Link
                    href="https://www.facebook.com/groups/905762400660923/posts/1324865485417277/"
                    >it's reported</Link
                > that a <Link href="https://www.amazon.com/dp/B0937G1LYF"
                    >size kit</Link
                > (smallest size) is needed.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/start-button.png" alt="Start button">
        <h4>Start Button</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.aliexpress.us/item/3256805774710562.html"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/center-console.png" alt="Center console">
        <h4>Center Console</h4>
        <ul>
            <li>
                OEM: <Link href="https://a.aliexpress.com/_mOnzVfH"
                    >SiAECOSYS on AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText
        src="/Parts/wireless-phone-charger.png"
        alt="Wireless phone charger"
    >
        <h4>Wireless Phone Charger</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/siaecosys-5v-usb-cable-10w-motorcycle-phone-wireless-charger/"
                    >SiAECOSYS</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/storage-area-latch.jpg" alt="Storage area latch">
        <h4>Storage Area Latch</h4>
        <ul>
            <li>
                Possibly OEM: <Link href="https://www.amazon.com/dp/B07FLHDGKG"
                    >Amazon</Link
                > - Identical to what's on the Metacycle
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/seat.png" alt="Seat">
        <h4>Seat</h4>
        <ul>
            <li>
                Aftermarket: <Link
                    href="https://www.corbin.com/sondors/sonmeta.shtml"
                    >Corbin-Pacific</Link
                > makes aftermarket seats that are more comfortable. <Link
                    href="https://www.youtube.com/watch?v=UJrRIZGzl2A"
                    >Installation video</Link
                > is pretty easy to follow.
            </li>
            <li>
                Aftermarket: <Link href="https://www.tapiasseats.com/shop"
                    >Tapia's Seats</Link
                > makes custom seats that are more comfortable. Installation is extremely
                similar to Corbin seats.
            </li>
            <li>The seat is held in place with M6 - 1.00x25 bolts.</li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/alarm-system.png" alt="Alarm system">
        <h4>Alarm System</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.aliexpress.us/item/3256805792328828.html"
                    >AliExpress</Link
                > - Extremely troublesome part and source of frequent <Link
                    href="https://sites.google.com/view/metacycle-pedia/problems"
                    >problems</Link
                >.
            </li>
            <li>
                Has a waterproof <Link
                    href="https://www.amazon.com/automotive-connectors-Connector-DJ7065F-2-2-11-replacement/dp/B0DP1TPT18"
                    >DJ7065F-2.2-11</Link
                > connector on the end. Refer to the <Link
                    href="/alarm-module-wiring-guide.webp">wiring guide</Link
                >.
            </li>
        </ul>
    </ImageText>

    <ImageText
        src="/Parts/dc-converter-12v10a.png"
        alt="60/72 V DC to 12 V 10 A DC with 5 V 1 A Output"
    >
        <h4>60/72 V DC to 12 V 10 A DC with 5 V 1 A Output</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/dc-dc-converter-60v-72v-to-12v-10a-with-5v-1a-output-wire/"
                    >SiAECOSYS</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText
        src="/Parts/dc-converter-12v3a.png"
        alt="72 V DC to 12 V 3 A DC Isolated Converter"
    >
        <h4>72 V DC to 12 V 3 A DC Isolated Converter</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/isolated-dc-dc-converter-72v-to-12v-3a-for-electric-scooter/"
                    >SiAECOSYS</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/battery.png" alt="Battery - 72V 54.4Ah NCM Lithium">
        <h4>Battery - 72V 54.4Ah NCM Lithium</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/battery-for-sondors-ebike-4kwh-battery-74v-54-4ah-ncm-lithium-battery/"
                    >SiAECOSYS</Link
                > - 100 A continuous, 250 A peak.
            </li>
            <li>
                Rebuild: <Link
                    href="https://ebikemarketplace.com/products/sondors-bullet-battery-rebuild-36v-14ah"
                    >E-Bike Market Place</Link
                > advertises that they rebuild Metacycle batteries.
            </li>
            <li>
                Built by Greenway. <Link
                    href="/files/Farasis_Broschure-Produktubersicht_Web_Adresse_DE.pdf"
                    >Farasis brochure</Link
                >. The battery's BMS uses <Link href="/can-bus/">CAN bus</Link> communication.
            </li>
            <li>
                If storing for extended periods of time, disconnect the battery
                so the alarm doesn't drain it. Also, do not charge the battery
                when it's cold (below freezing) to avoid damaging it.
            </li>
        </ul>
    </ImageText>

    <ImageText
        src="/Parts/battery-charging-port.png"
        alt="Battery Charging Port or Cable End"
    >
        <h4>Battery Charging Port or Cable End</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.aliexpress.com/i/3256805881164084.html"
                    >AliExpress</Link
                >, <Link
                    href="https://bmsbattery.com/home/880-18681-a-pair-50a-waterproof-connector-2-1-5-pins.html#/567-connector_type-male"
                    >BMS Battery</Link
                >, <Link
                    href="https://www.jniconconnector.com/sale-26553092-push-locking-ip67-waterproof-connector-m23-8-pin-panel-mount-for-e-scooter.html"
                    >Jnicon</Link
                >.
            </li>
            <li>
                Chogori Large series 2+1+5, sometimes labeled as 3+5, sometimes
                8P. Male end is believed to be Chogori 24305131-01. Cable
                connector to charge the battery outside the bike is 24305635-01.
                Panel mount on battery case appears to be 24305636-01 (<Link
                    href="https://www.reddit.com/r/metacycle/comments/ztytv7/metacycle_general_information_oem_parts_mods_etc/"
                    >Reddit</Link
                >). Some connectors don't have all of the pins, so be sure to <Link
                    href="https://www.facebook.com/groups/905762400660923/posts/1346247436612415/?comment_id=1346462066590952&reply_comment_id=1346478496589309"
                    >buy the right ones</Link
                >.
            </li>
            <li>
                The female connector is similar to the one used on the cable
                that can link the charger to the battery directly, pictured on
                the right side of the cable shown here.
            </li>
            <li>
                Waterproof caps: Wagner, <Link
                    href="https://www.wagneronline.com.au/large-series-waterproof-cap/chogori-large-series/chogori-connectors/plugs-sockets/cables-connectors/804-00008-00-99016/1006266/pd/"
                    >male end</Link
                > and <Link
                    href="https://www.wagneronline.com.au/large-series-waterproof-cap/chogori-large-series/chogori-connectors/plugs-sockets/cables-connectors/804-00005-00-99017/1006267/pd/"
                    >female end</Link
                >.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/charging-adapter.jpg" alt="Connector for Battery">
        <h4>Connector for Battery</h4>
        <ul>
            <li>
                Part number FEFB-10009A-02, 2+9Pin Hybrid Power Connector, from <Link
                    href="https://www.renhotecev.com/product/29pin-hybrid-power-connector-70a-1000v-dc-ip67-waterproof-straight-plug"
                    >Renhotec</Link
                >.
            </li>
            <li>
                This connector is part of the cable that can link the charger to
                the battery directly.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/battery-charger.png" alt="Battery Charger">
        <h4>Battery Charger</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/sondors-charger-ac110v-12a-1800w-battery-charger-for-sondors-electric-motorcycle/"
                    >SiAECOSYS</Link
                > is a 120/240 VAC 1800 W → 18 A 84 VDC charger. More info about the
                <Link href="/charger/">battery charger</Link>.
            </li>
            <li>
                Aftermarket: <Link
                    href="https://www.cnqsmotor.com/product/motorcycle-battery-charger-1800w-72v-20a-portable-charger/"
                    >SiAECOSYS</Link
                > makes a 20 A model that's smaller and lighter. Make sure to specify
                a US plug.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/turn-signal-relay.png" alt="Turn Signal Relay">
        <h4>Turn Signal Relay</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.aliexpress.us/item/3256804341243871.html"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/wiring-harness.png" alt="Wiring Harness">
        <h4>Wiring Harness</h4>
        <ul>
            <li>
                Unsure: <Link href="https://a.aliexpress.com/_ms1J0dw"
                    >AliExpress</Link
                > (EM200/2) - this is not exactly the same but may work.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/controller.png" alt="Controller - Votol EM200-2SP">
        <h4>Controller - Votol EM200-2SP</h4>
        <ul>
            <li>
                OEM: <Link href="https://a.aliexpress.com/_mMQLIle"
                    >AliExpress</Link
                > - Votol EM200-2SM, not Votol EM200.
            </li>
            <li>
                Learn more about <Link href="/controller/">this controller</Link
                >.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/delay-relay.png" alt="Delay Relay">
        <h4>Delay Relay</h4>
        <ul>
            <li>
                Not much is known. <Link
                    href="https://www.facebook.com/groups/905762400660923/posts/1087247895845705/"
                    >Post with pictures</Link
                > and a <Link
                    href="https://www.facebook.com/groups/905762400660923/posts/1081299573107204/"
                    >post asking for info</Link
                >.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/footpegs.png" alt="Folding Footpegs">
        <h4>Folding Footpegs</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/electric-motorcycle-black-folded-footpeg-scooter-accessories/"
                    >SiAECOSYS</Link
                >, <Link href="https://a.aliexpress.com/_mLgi4Cc"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/kickstand-switch.png" alt="Kickstand Switch">
        <h4>Kickstand Switch</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.aliexpress.us/item/3256805810610620.html"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/swing-arm.png" alt="Swing Arm">
        <h4>Swing Arm</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/sondors-metacycle-swingarm-for-sondors-electric-motorcycle/"
                    >SiAECOSYS</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/rear-shock.png" alt="Rear Shock">
        <h4>Rear Shock</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/motorcycle-310mm-rear-shock-electric-scooter-accessories/"
                    >SiAECOSYS</Link
                >, <Link href="https://a.aliexpress.com/_msLygzw"
                    >AliExpress</Link
                > - Reported to be of poor quality, though one should understand that
                this bike was made to be inexpensive.
            </li>
            <li>
                Stock is 310 mm, 10 mm top and bottom holes, 25 mm end widths.
            </li>
            <li>
                Aftermarket: <Link
                    href="https://vi.aliexpress.com/item/32861205900.html"
                    >AliExpress</Link
                >, from this <Link
                    href="https://www.facebook.com/groups/905762400660923/posts/1186856152551545/"
                    >Facebook post</Link
                >.
            </li>
            <li>
                Aftermarket: Very similar to KTM RC 390, though approximately
                1mm will need to be filed off the width of the bushing on the
                shock islet where it connects to the bike. Reddit has <Link
                    href="https://www.reddit.com/r/metacycle/comments/18ueabw/metacycle_oem_parts_list/"
                    >the discussion</Link
                >.
            </li>
            <li>
                Some riders choose 320mm or 330mm, giving the bike additional
                height.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/full-brake-system.png" alt="Full Brake System">
        <h4>Full Brake System</h4>
        <ul>
            <li>
                OEM: <Link href="https://a.aliexpress.com/_mr3b3VW"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/brake-pads.png" alt="Rear Disc Brake Pads">
        <h4>Rear Disc Brake Pads</h4>
        <ul>
            <li>
                OEM: <Link href="https://www.amazon.com/gp/product/B00666KLWO/"
                    >Amazon</Link
                > - EBC FA266. There are different versions with this number and the
                organic ones are <Link
                    href="https://www.facebook.com/groups/905762400660923/posts/1218255689411591/"
                    >the quietest</Link
                >.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/hub-motor.png" alt="Hub Motor">
        <h4>Hub Motor</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/sondors-ebike-qs273-8000w-v3-hub-motor-for-sondors-meta-cycle/"
                    >SiAECOSYS</Link
                >, <Link href="https://a.aliexpress.com/_mrbmdgY"
                    >AliExpress (hub motor and front rim)</Link
                >
            </li>
            <li>Learn more about <Link href="/motor/">this motor</Link>.</li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/brake-light.png" alt="Taillight / Brake Light">
        <h4>Taillight / Brake Light</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.cnqsmotor.com/product/electric-motorcycle-accessories-taillight-suit-for-scooter/"
                    >SiAECOSYS</Link
                >, <Link href="http://a.aliexpress.com/_mstR7JW"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/license-plate-light.png" alt="License Plate Light">
        <h4>License Plate Light</h4>
        <ul>
            <li>
                OEM: <Link
                    href="https://www.aliexpress.us/item/3256805806346039.html"
                    >AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/rear-fender.png" alt="Rear Fender">
        <h4>Rear Fender</h4>
        <ul>
            <li>
                Aftermarket: If you want a lower rear fender, KTM Duke 390 fits
                and has been reported to work well.
            </li>
        </ul>
    </ImageText>

    <ImageText src="/Parts/tool-set.png" alt="Tool Set">
        <h4>Tool Set</h4>
        <ul>
            <li>
                OEM: <Link href="https://a.aliexpress.com/_mqzvv8Y"
                    >SiAECOSYS on AliExpress</Link
                >
            </li>
        </ul>
    </ImageText>
</DefaultLayout>
